<a href="https://colab.research.google.com/github/salamullah/Cyber-Security/blob/master/Detecting_Malicious_URLs_using_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Detecting Malicious URLs using Machine Learning

In [3]:
import pandas as pd

In [4]:
urls_dataset = pd.read_csv("urldata.csv")

In [6]:
urls_dataset.head()

                      url label
0  diaryofagameaddict.com   bad
1        espdesign.com.au   bad
2      iamagameaddict.com   bad
3           kalantzis.net   bad
4   slightlyoffcenter.net   bad

In [7]:
len(urls_dataset)

420464

In [11]:
urls_dataset[urls_dataset['label']=='good']

                                                     url label
42767                                         01453.com/  good
42768              015fb31.netsolhost.com/bosstweed.html  good
42769            02bee66.netsolhost.com/lincolnhomepage/  good
42770  02ec0a3.netsolhost.com/getperson.php?personID=...  good
42771                                        032255.com/  good